@import "tailwindcss";

@font-face {
  font-family: sans-serif;
  src: local("roboto"), url(src/assets/fonts/roboto.ttf) format("truetype");
}

@layer base {
  header {
    font-family: "roboto", sans-serif;
  }

  body {
    font-family: "roboto", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

.active .nav-element {
  background-color: #bfd7ff;
  width: 4rem;
}

.active .nav-text {
  color: #bfd7ff;
}

@theme {
  --color-p1: #171c47;
  --color-p2: #5465ff;
  --color-p3: #788bff;
  --color-p4: #9bb1ff;
  --color-p5: #bfd7ff;
  --color-s1: #5ef3ff;
  --color-s2: #82f6ff;
  --color-s3: #e2fdff;
}
